:root {
  --fuentePrincipal:'Gudea', sans-serif;
  --blanco: #f4f4f4;
  --negro: #000000;
  --naranja: #F98F16;


}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */ 
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8;
}


/** Globales **/
.contenedor {
  width: min(90%,120rem);
  height: 100%;
  margin: 0 auto;
}
a{
  text-decoration: none;
  text-transform: uppercase;
}
p {
  font-size: 2.2rem;
}
h1,h2,h3,h4 {
  font-family: var(--fuentePrincipal);
  line-height: 1.2;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.8rem;
}
img {
  width: 100%;
}

/** Utilidades */
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.centrar-texto {
  text-align: center;
}

/** Header **/
.header {
  background-image: url(../img/banner1.jpeg);
  height: 60rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position:relative;
}
.header__transparencia {
  position: absolute;
  background-color: rgb(0 0 0 / 40%);
  width: 100%;
  height: 100%;
}
.barra {
  margin-top: 2rem;
}
@media (min-width: 768px) { 
    .barra {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
}
.header__texto {
  margin-top: 7rem;
}
.header__texto-banner {
  color: var(--blanco);
}
.logo {
  text-align: center;
}
.logo__imagen {
  margin:0 5rem;
  background-color: var(--blanco);
  width: 30rem;
  border-radius: 1rem;
}
.navegacion {
  margin: 4rem;
}
@media (min-width: 768px) { 
  .navegacion {
    display:flex;
    gap: 2rem;
  }
}
.navegacion__enlace {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  color:var(--blanco);
}
.niveles{
  padding:0 2rem;
}
.niveles__titulos {
  text-transform: uppercase;
}

/** Main **/
/** Niveles **/
@media (min-width: 768px) { 
  .niveles__explicacion {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}
.nivel-introduction,
.nivel-basic,
.nivel-smart,
.nivel-skills {
  margin-top: 0;
}

.nivel-introduction {
  background-color: greenyellow;
}
.nivel-basic {
  background-color: purple;
  color: var(--blanco);
}
.nivel-smart {
  background-color: orange;
}
.nivel-skills {
  background-color: blue;
  color: var(--blanco);
}

.imagen {
  margin-bottom: 4rem;
}
.mas-informacion:hover {
  cursor: pointer;
}